Предполагается, что в рамках данного задания ученики сами будут изучать документацию, как минимум используя функционал `tab` и `shift+tab` от Jupyter

1. Импортируйте библиотеку pandas 
2. Считайте файл `wage.csv` в DataFrame с названием `wage`. Используйте для этого функцию pd.read_csv()

`person_id` - идентификатор человека

`gender` - пол, 0 - женский, 1 - мужской

`wage` - заработная плата в рублях

In [2]:
import pandas as pd
df = pd.read_csv("./wage.csv")
df
df['wage'].describe().loc[['count']]

count    1006.0
Name: wage, dtype: float64

3. Поменяйте колонку `gender` так, чтобы были записи `F` (female) и `M` (male) вместо 0 и 1

In [3]:
#df['gender'] = df['gender'].apply(lambda x: 'M' if x == 1 else 'F')
#df['gender'] = df['gender'].map({1: 'M', 0: 'F'})
df['gender'] = df['gender'].replace({1: 'M', 0: 'F'})
#df

4. Давайте посчитаем среднюю зарплату у мужчин и женщин. Для этого используйте метод `groupby` со следующим синтаксисом:

`dataframe.groupby(Название_колонки_для_группировки)[Перечисление_колонок_для_агрегации].функция_агрегации()`

In [4]:
average_wage_by_gender = df.groupby('gender')['wage'].mean()
average_wage_by_gender

gender
F    40855.747261
M    46815.944005
Name: wage, dtype: float64

5. Теперь взглянем внимательнее на данные и обнаружим, что некоторые люди попали в выборку несколько раз. 
    1. Найдите таких людей. Подсказка: `value_counts()`
    0. Убедитесь, что записи по ним с одинаковым `wage`. Возможно, тут вам пригодится функция агрегации `nunique()`, отображающая количество разных значений
    0. Избавьтесь от повторяющихся значений. Подсказка: `drop_duplicates()`

In [5]:
duplicate_names = df['person_id'].value_counts()
duplicate_names
unique_wages = df.groupby('person_id').nunique()
unique_wages
df_unique = df.drop_duplicates()
df_unique
average_wage_by_gender = df_unique.groupby('gender')['wage'].mean()
average_wage_by_gender

gender
F    40811.235409
M    46531.457622
Name: wage, dtype: float64

In [6]:
duplicate_names = df['person_id'].value_counts()
duplicate_names

person_id
17     2
16     2
15     2
14     2
13     2
      ..
342    1
343    1
344    1
345    1
999    1
Name: count, Length: 1000, dtype: int64

In [8]:
unique_wages = df.groupby('person_id').nunique()
#unique_wages

In [9]:
df_unique = df.drop_duplicates(subset=['wage'])
#df_unique

In [10]:
average_wage_by_gender = df_unique.groupby('gender')['wage'].mean()
average_wage_by_gender

gender
F    40811.235409
M    46531.457622
Name: wage, dtype: float64

6. Теперь посмотрим внимательнее на зарплаты
    1. Охарактеризуйте имеющиеся данные по зарплатам. Подсказка: `describe`
    1. Избавьтесь от бессмысленных значений

In [11]:
df_unique['wage'].describe()
df_unique = df_unique.loc[df_unique['wage'] > 0]
df_unique = df_unique.dropna(subset=['wage']) # ещё на всякий случай удалим с пустыми значениями

7. Давайте теперь посмотрим на зарплату с учетом бонуса. Для этого нам понадобится таблица `bonus.csv`. Считайте ее в переменную `bonus`. Заметьте, что она сохранена немного в другом формате, и вам понадобится уточнить параметр `sep` - разделитель записей. Сравните текущий файл с предыдущим и попробуйте решить проблему

In [12]:
bonus = pd.read_csv("./bonus.csv", sep=';')
#bonus

In [13]:
df = pd.read_csv("./wage.csv")
#df

8. Чтобы посчитать итоговую зарплату, нам нужно по каждому человеку знать и оклад, и премию. Для этого надо будет соединить (сджойнить) таблицы по `person_id`. Используйте для этого функцию `pd.merge`. Помните, что параметр `how` должен быть `'outer'`, чтобы сохранить те записи, что есть только в одной таблице. Результат запишите в новый dataframe `df`

In [14]:
result = df_unique.merge(bonus, how = 'outer', on='person_id')
#result

9. Наконец, давайте посчитаем итоговую зарплату
    1. Замените отсутствующие записи в колонке `bonus` нулями
    1. Уберите людей без `wage` - это те "плохие" записи, от которых мы избавлялись на предыдущих шагах
    1. Сделайте новую колонку `total`, которая будет равна 12 окладам и премии
    1. Посчитайте среднюю и медианную итоговую зарплату в разрезе по полу. Подсказка: вместо функции агрегации можно написать `.agg()` и перечислить внутри нужные агрегаты

In [15]:
result['bonus'].fillna(0, inplace=True)
#result

In [16]:
result = result[result['wage'].notna()]
#result

In [17]:
result['total'] = result['wage'] * 12 + result['bonus']
#result

In [27]:
aggregate_functions = {'total': ['mean', 'median']}
results = result.groupby('gender').agg(aggregate_functions)
results

                total
                 mean         median
gender
F       570746.139432  347622.913892
M       657142.490282  437499.824868

10. Сохраните `df` в файл, используя метод `to_csv()`. Не записывайте индексы

In [79]:
result.to_csv('result.csv', index=False)