In [8]:
!pip install sympy

Requirement already satisfied: sympy in d:\soft\lib\site-packages (1.12)
Requirement already satisfied: mpmath>=0.19 in d:\soft\lib\site-packages (from sympy) (1.3.0)

In [9]:
a = 10/2

In [10]:
type(a)

float

In [11]:
'Курс по анализу' >= 'Данных'

True

In [12]:
str(hello)

NameError: name 'hello' is not defined

In [13]:
 a = 'привет '

In [14]:
a[1+2]

'в'

In [15]:
(1, 2, 3) + (4, 5)

(1, 2, 3, 4, 5)

In [16]:
(1, 2, 3) + (1, '2')

(1, 2, 3, 1, '2')

In [17]:
(1, 2, 3) + (1)

TypeError: can only concatenate tuple (not "int") to tuple

In [18]:
(1) + (2)

3

In [19]:
(1, 2, 3) + (2, )

(1, 2, 3, 2)

In [20]:
(1, 2, 3) + [4, 5]

TypeError: can only concatenate tuple (not "list") to tuple

In [24]:
t = 'Hello! Its my test string for manipulated '

In [25]:
t.capitalize()

'Hello! its my test string for manipulated '

In [28]:
t = t.replace('e', 'Ё')
t

'HЁllo! Its my tЁst string for manipulatЁd '

In [29]:
t.strip()

'HЁllo! Its my tЁst string for manipulatЁd'

In [30]:
t.lower()

'hёllo! its my tёst string for manipulatёd '

In [31]:
t.upper()

'HЁLLO! ITS MY TЁST STRING FOR MANIPULATЁD '

In [33]:
t.center(90)

'                        HЁllo! Its my tЁst string for manipulatЁd                         '

In [34]:
t.split()

['HЁllo!', 'Its', 'my', 'tЁst', 'string', 'for', 'manipulatЁd']

In [40]:
for i in range(10):
    if i > 5:
        break
    elif i % 2 == 0:
        continue
    print('Hello')

Hello
Hello
Hello

In [44]:
import pandas as pd

In [47]:
df = pd.DataFrame([
    [i for i in range(100)],
    ['a' + str(i) for i in range(100)]
    ])
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
1,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,a90,a91,a92,a93,a94,a95,a96,a97,a98,a99

In [48]:
df = pd.DataFrame({
    'number': [i for i in range(100)],
    'char': ['a' + str(i) for i in range(100)]
})
df

    number char
0        0   a0
1        1   a1
2        2   a2
3        3   a3
4        4   a4
..     ...  ...
95      95  a95
96      96  a96
97      97  a97
98      98  a98
99      99  a99

[100 rows x 2 columns]

In [49]:
df['number']

0      0
1      1
2      2
3      3
4      4
      ..
95    95
96    96
97    97
98    98
99    99
Name: number, Length: 100, dtype: int64

In [50]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
number,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
char,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,a90,a91,a92,a93,a94,a95,a96,a97,a98,a99

In [52]:
df['char'][6]

'a6'

In [54]:
df.loc[6,'char']

'a6'

In [57]:
df.iloc[6:17:2, 1]

6      a6
8      a8
10    a10
12    a12
14    a14
16    a16
Name: char, dtype: object

In [58]:
df.iloc[6:17:2, 1] = 'test'

In [60]:
df.query('char == "test"')

    number  char
6        6  test
8        8  test
10      10  test
12      12  test
14      14  test
16      16  test

In [61]:
df.loc[df.char == 'test',]

    number  char
6        6  test
8        8  test
10      10  test
12      12  test
14      14  test
16      16  test

In [64]:
fun =lambda x: x + '_cur'

In [65]:
fun('test')

'test_cur'

In [68]:
df['char']
df.char.apply(lambda x: x + '_cur')

0      a0_cur
1      a1_cur
2      a2_cur
3      a3_cur
4      a4_cur
       ...
95    a95_cur
96    a96_cur
97    a97_cur
98    a98_cur
99    a99_cur
Name: char, Length: 100, dtype: object

In [69]:
df.char + '_cur'

0      a0_cur
1      a1_cur
2      a2_cur
3      a3_cur
4      a4_cur
       ...
95    a95_cur
96    a96_cur
97    a97_cur
98    a98_cur
99    a99_cur
Name: char, Length: 100, dtype: object